* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    color-scheme: light dark;
    --dark: #131517;
    --light: #fff;
    --bg: light-dark(var(--light), var(--dark));
    --fg: light-dark(var(--dark), var(--light));
    color: var(--fg);
    background: var(--bg);
}

body {
    color-scheme: light;
    background: var(--bg);
    color: var(--fg);
    font: min(3cqmin, 1rem) / 1.4 system-ui;
    padding-bottom: 10rem;
}

ul {
    padding: 0;
}

.col,
.row {
    max-width: 70rem;
    margin: 0 auto;
    display: flex;
    gap: 0.8rem;
}

.row {
    padding: 1rem;
    & > * {
        flex: 1;
    }
}

.col {
    flex-direction: column;
}

.grid {
    color-scheme: dark;
    display: grid;
    gap: 1rem;
    margin: 0 auto;
    color: var(--bg);
    grid-template-columns: repeat(auto-fill, minmax(min(10rem, 100%), 1fr));

    & > * {
        padding: 1em;
        background: #ddd;

        &:has(.jsort-handler) {
            position: relative;
            padding-top: 3em;
        }
    }

    .jsort-handler {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0.5em 1em;
        text-align: right;
        margin-bottom: 1em;
        cursor: grab;
        transition: background-color 0.3s;
        background: #fff8;

        &:hover {
            background: #fffd;
        }
        &::after {
            content: "✥";
            margin-left: 1em;
        }
    }
}

ul {
    list-style: none;
}

.list {
    color-scheme: dark;
    list-style: none;
    padding: 0;
    padding-bottom: 1.5em;
    background: color-mix(in srgb, var(--bg), var(--fg) 90%);
    color: var(--bg);

    &:not(:has(> *))::after {
        display: list-item;
        content: "Empty list";
        font-style: italic;
        opacity: 0.5;
        padding: 1em;
    }

    li {
        padding: 1em;
        /* background: color-mix(in srgb, #fff 10%, var(--bg) 90%); */
        border: 2px solid var(--fg);
    }
}

#swap ul {
    padding-bottom: 0;
}

.jsort-ghost {
    transition: box-shadow 0.3s, opacity 0.3s;
    box-shadow: 0 0.5rem 1rem #0005;

    @starting-style {
        box-shadow: 0 0rem 0rem #000;
    }
}

.is-jsort-grabbed {
    opacity: 0.3;
}

.is-jsort-target {
    outline: 0.15rem dashed currentColor;
}

.is-jsort-invalid {
    outline: 2px solid red;
}
