* {
    margin: 0;
    box-sizing: border-box;
    scrollbar-color: var(--accent) #0000;
    scrollbar-width: auto;
    /* outline: 1px solid #0007; */
}

:root {
    color-scheme: light dark;
    --dark: #131517;
    --light: #fff;
    --bg: light-dark(var(--light), var(--dark));
    --bg2: light-dark(
        var(--light),
        color-mix(in srgb, var(--dark), var(--light) 92%)
    );
    --fg: light-dark(
        var(--dark),
        color-mix(in srgb, var(--light), var(--dark) 20%)
    );
    --accent: hsl(216, 70%, 48%);
    --accent2: hsl(162, 76%, 43%);
    color: var(--fg);
    background-color: var(--bg);
    transition: color 0.3s, background-color 0.3s;
}

body {
    color-scheme: light;
    background-color: var(--bg);
    color: var(--fg);
    font: min(3cqmin, 1rem) / 1.5 system-ui;
    padding: 2.3rem;
    padding-bottom: 8rem;

    /* Passepartout */
    &::after {
        content: "";
        position: fixed;
        inset: 1rem;
        border-radius: 1rem;
        box-shadow: 0 0 0 100vmax var(--fg);
        pointer-events: none;
        z-index: 9999;
    }
}

a {
    color: var(--accent);
}

img {
    display: inline-block;
    max-width: 100%;
}

h1,
h2,
h3 {
    font-weight: 500;
}

h1 {
    display: flex;
    align-items: end;
    padding-top: 2rem;
    font-size: 3rem;
    container-type: block-size;

    img {
        max-width: 30cqw;
        min-width: 200px;
    }

    /* version */
    span {
        font-size: clamp(0.8rem, 1.75cqw, 1.7rem);
        line-height: 0;
        color: var(--accent2);
        margin-bottom: 0.85em;
    }
}

h2 {
    font-size: 3rem;
    padding-bottom: 0.5em;
}

ul {
    list-style: none;
    padding: 0;
}

/* Details tag animation */
details {
    interpolate-size: allow-keywords;

    &::details-content {
        transition: block-size 0.5s, content-visibility 0.5s allow-discrete;
        overflow: hidden;
        block-size: 0;
    }

    &[open]::details-content {
        block-size: auto;
    }

    summary {
        cursor: pointer;
        user-select: none;
    }
}

details {
    border-radius: 0.9rem;
    margin: 1rem 0;
    transition: background-color 0.6s, color 0.6s;

    &[open] {
        background-color: var(--fg);
        color: var(--bg);
    }

    & > * {
        padding: 0.6rem 1rem;
    }

    summary {
        font-weight: 500;
        color: var(--accent);
        transition: color 0.3s;

        &:hover {
            color: color-mix(in srgb, var(--accent), var(--bg) 40%);
        }
    }
}

pre {
    width: 100%;
    overflow: auto;
    padding-bottom: 1.5rem;

    &:first-line {
        line-height: 0;
    }
}

code {
    font-size: 0.8rem;
}

#app {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.col,
.row {
    display: flex;
    width: 100%;
    max-width: 70rem;
    margin: 0 auto;
    gap: 1.5rem;
}

.row {
    flex-flow: row wrap;

    & > * {
        flex: 1;
        min-width: 8rem;
    }
}

.sm-row {
    @media screen and (width < 40rem) {
        flex-basis: 100%;
    }
}

.col {
    flex-direction: column;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.grid {
    color-scheme: dark;
    display: grid;
    width: 100%;
    gap: 1rem;
    margin: 0 auto;
    color: var(--bg);
    grid-template-columns: repeat(auto-fill, minmax(min(7rem, 100%), 1fr));

    & > * {
        padding: 1em;
        background: #ddd;

        &:has(.jsort-handler) {
            position: relative;
            padding-top: 3em;
        }
    }

    .jsort-handler {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0.5em 1em;
        text-align: right;
        margin-bottom: 1em;
        cursor: grab;
        transition: background-color 0.3s;
        background: #fff8;

        &:hover {
            background: #fffd;
        }

        &::after {
            content: "✥";
            margin-left: 1em;
        }
    }
}

.list {
    color-scheme: dark;
    list-style: none;
    padding: 0;
    padding-bottom: 1.5rem;
    background: var(--bg2);
    color: var(--bg);

    &:not(:has(> *))::after {
        display: list-item;
        content: "Empty list";
        font-style: italic;
        opacity: 0.5;
        padding: 1em;
    }

    li {
        padding: 1rem;
        color: var(--bg);
    }

    li {
        border: 0.3rem solid var(--bg2);
        background-clip: padding-box;
        & + li {
            margin-top: -0.3rem;
        }
    }
}

#swap ul {
    padding-bottom: 0;
}

.is-jsort-ghost {
    transition: box-shadow 0.3s, opacity 0.3s;
    box-shadow: 0 0.5rem 1rem #000a;

    @starting-style {
        box-shadow: 0 0rem 0rem #000;
    }
}

.is-jsort-active.is-jsort-touch {
    outline: 2px solid currentColor;
}

.is-jsort-grabbed {
    opacity: 0;
}

.is-jsort-target {
    outline: 0.15rem dashed currentColor;
    z-index: 1;
}

.is-jsort-invalid {
    outline: 2px solid red;
}
