* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font: min(3cqmin, 1rem) / 1.4 system-ui;
}

ul {
    padding: 0;
}

.col,
.row {
    max-width: 70rem;
    margin: 0 auto;
    display: flex;
    padding: 1rem;
    gap: 0.8rem;

    & > * {
        flex: 1;
    }
}

.col {
    flex-direction: column;
}

.sort-grid {
    display: grid;
    gap: 1rem;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fill, minmax(min(10rem, 100%), 1fr));

    & > * {
        padding: 1em;
        background: #ddd;

        &:has(.jsort-handler) {
            padding-top: 3em;
        }
    }

    .jsort-handler {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0.5em 1em;
        text-align: right;
        margin-bottom: 1em;
        cursor: grab;
        transition: background-color 0.3s;
        background: #fff8;

        &:hover {
            background: #fffd;
        }
        &::after {
            content: "✥";
            margin-left: 1em;
        }
    }
}

.sort-list {
    list-style: none;
    padding: 0;
    outline: 1px solid #aaa;
    padding-bottom: 1.5em;
    background: #eee;

    &:empty::after {
        display: list-item;
        content: "Empty list";
        font-style: italic;
        opacity: 0.5;
        padding: 1em;
    }

    li {
        position: relative;
        padding: 1em;
        background: #ddd;
        border: 2px solid #fff;
    }
}

.jsort-item {
    position: relative;
    transition: opacity 0.3s, box-shadow 0.3s;
    transition-timing-function: cubic-bezier(0.6, 0, 0.6, 1);
}

.jsort-ghost {
    box-shadow: 0 0.5rem 1rem #0005;

    @starting-style {
        transition: box-shadow 0.3s, opacity 0.3s;
        box-shadow: 0 0rem 0rem #000;
    }
}

.is-jsort-grabbed {
    opacity: 0.3;
}

.is-jsort-target {
    outline: 0.15rem dashed #000;
}

.is-jsort-invalid {
    outline: 2px solid red;
}
